{% extends "EniBundle::base.html.twig" %}

    {% block left %}
        <li><a href="#lien1">lien 1</a></li>
        <li><a href="#lien2">lien 2</a></li>
    {% endblock %}

    {% block content %}
        Hello {{ name }} !
    {% endblock %}

