<a href="{{ url('media_listGenre') }}">Genres</a>
<a href="{{ path('media_listPersonne') }}">Personnes</a>
<a href="{{ url('media_listTypeMedia') }}">Types médias</a>
<a href="{{ path('media_listMedia') }}">Medias</a>
